.wrapper {
  padding: 80px 50px;
}
.container {
  margin: 0 auto;
  max-width: 1400px;
  overflow: hidden;
}
.title {
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5rem;
  color: #202124;
  margin-top: 24px;
  margin-bottom: 15px;
}
